---
import Visitenkarte from "../components/Visitenkarte.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Benjamin Jesuiter">
  <main>
    <Visitenkarte />
  </main>
</Layout>
