---
import { Icon } from "astro-icon/components";

interface Props {
  // title: string;
  // body: string;
  // href: string;
}

// const { href, title, body } = Astro.props;
---

<div
  class="md:drop-shadow-glow w-full min-w-[300px] text-slate-50 shadow-slate-200/50 md:relative md:mx-auto md:my-10 md:aspect-[16/10] md:w-4/5 md:overflow-hidden md:rounded-lg md:border-2 md:bg-slate-800 md:p-4"
>
  <h1
    class="w-full rounded-md border-none border-white pb-4 pt-4 text-center text-2xl font-normal shadow-none shadow-slate-200/50 sm:text-3xl md:ml-4 md:text-left"
  >
    Benjamin Jesuiter
  </h1>

  <div
    class="drop-shadow-glow bg-profile-pic mx-auto my-12 h-[250px] w-[250px] rounded-full border-2 border-white bg-cover bg-top bg-no-repeat"
  >
  </div>
  <!-- <img
    src="/2024_profile_pic.jpg"
    class="md:absolute md:right-0 md:top-0 md:w-1/2 md:object-cover"
  /> -->

  <!-- Subline -->
  <div class="font-motto text-center sm:text-lg md:text-xl">
    Make the web the best place it can be!
  </div>

  <!-- Row of Icons -->
  <div>
    <Icon name="bxl:github" class="text-emerald-700" />
  </div>
</div>
