---
import SocialLink from "./Social-Link.astro";
import profilePic from "../assets/2024_profile_pic.jpg";
import { Image } from "astro:assets";

interface Props {
  // title: string;
  // body: string;
  // href: string;
}

// const { href, title, body } = Astro.props;
---

<div
  class="w-full min-w-[300px] text-foreground-light shadow-slate-200/50 md:relative md:mx-auto md:my-10 md:h-4/5 md:w-4/5 md:max-w-[830px] md:overflow-y-auto md:rounded-lg md:border-2 md:bg-slate-800 md:p-4 md:drop-shadow-glow"
>
  <header class="flex flex-col items-center gap-12 motion-translate-x-in-[-22%] motion-translate-y-in-[-43%]">
    <h1
      class="rounded-md border-none border-white pb-4 pt-4 text-2xl font-normal shadow-none shadow-slate-200/50 sm:text-3xl md:ml-4 md:text-left"
    >
      Benjamin Jesuiter
    </h1>

    <!-- TODO: Implement astro optimized images! - might require switching hosting from deno to surge or even something else -->
    <!-- <Image
      src={profilePic}
      alt="Profile Picture for Benjamin Jesuiter"
      width={250}
      height={250}
    /> -->
    <div
      class="motion-translate-x-in-[-115%] motion-translate-y-in-[-53%] h-[250px] w-[250px] rounded-full border-2 border-white bg-profile-pic bg-cover bg-top bg-no-repeat drop-shadow-glow"
    >
    </div>
    <!-- <img
    src="/2024_profile_pic.jpg"
    class="md:absolute md:right-0 md:top-0 md:w-1/2 md:object-cover"
  /> -->

    <!-- Tagline -->
    <div class="text-center font-motto sm:text-lg md:text-xl">
      Make the web the best place it can be!
      <!-- => this is the one for CodeMonument -->
      <!-- Passionate Web Developer, Cloud Architect, & Full-Stack Solutions Consultant -->
    </div>
  </header>

  <section class="flex flex-col gap-6 p-4">
    <h2 class="mt-4 py-4 text-2xl font-normal sm:text-3xl md:text-left">
      Wo man mich findet
    </h2>

    <p class="">
      <h3 class="text-left text-lg font-bold">
        Meine persönlichen Dev Accounts
      </h3>
      Du interessierst dich für meine Seite als enthusiastischer Developer? Nice
      - Hier entlang!
      <SocialLink
        iconName="bxl:github"
        href="https://github.com/bjesuiter"
        label="github: bjesuiter"
        profile="private"
      />
      <SocialLink
        iconName="ph:x-logo-fill"
        href="https://x.com/jesuiterb"
        label="x: jesuiterb"
        profile="private"
      />
      <SocialLink
        iconName="ion:logo-npm"
        href="https://www.npmjs.com/~bjesuiter"
        label="npm: bjesuiter"
        profile="private"
      />
      <SocialLink
        iconName="ion:logo-stackoverflow"
        href="https://stackoverflow.com/users/5411086/benjamin-jesuiter"
        label="stackoverflow"
        profile="private"
      />
    </p>

    <p class="">
      <h3 class="text-left text-lg font-bold">
        Meine Internet-Identität: CodeMonument (EN)
      </h3>
      Zur besseren Übersicht habe ich meine ernsthafteren Coding-Abenteuer auf eine
      eigene Identität ausgelagert. Dazu gehören zum Beispiel meine Deno Libraries
      und ein paar meiner npm libraries. Der Account wird auf Englisch geführt, weil
      die internationale Community meinen Nachnamen nicht richtig aussprechen kann
      :D. Begrüßt mit mir: <span
        class="inline font-semibold text-codemonument-banner">CodeMonument</span
      >
      <SocialLink
        iconName="bxl:github"
        href="https://github.com/codemonument"
        label="github: codemonument"
        profile="private"
      />
      <SocialLink
        iconName="ph:x-logo-fill"
        href="https://x.com/codemonument"
        label="x: codemonument"
        profile="private"
      />
      <SocialLink
        iconName="ion:logo-npm"
        href="https://www.npmjs.com/org/codemonument"
        label="npm: codemonument"
        profile="private"
      />
      <SocialLink
        iconName="simple-icons:jsr"
        href="https://jsr.io/@codemonument"
        label="jsr: @codemonument"
        profile="private"
      />
    </p>

    <p>
      <h3 class="text-left text-lg font-bold">Meine Business-Profile</h3>
      Möglicherweise interessiert sich eine kleine Gruppe von Menschen auch für meine
      Business-Profile, diese sollen natürlich auch nicht fehlen (Achtung: dort antworte
      ich seltenst!):
      <SocialLink
        iconName="ph:linkedin-logo-fill"
        href="https://www.linkedin.com/in/bjesuiter/"
        label="linkedin: bjesuiter"
        profile="private"
      />
      <SocialLink
        iconName="ion:logo-xing"
        href="https://www.xing.com/profile/Benjamin_Jesuiter/cv"
        label="xing: bjesuiter"
        profile="private"
      />
    </p>

    <p>
      <h3 class="text-left text-lg font-bold">Mehr Privates</h3>
      Du bist privat hier? Sehr cool, ich auch! Hier ein paar Links zu meinen Instagram
      Kanälen:
      <SocialLink
        iconName="ph:instagram-logo"
        href="https://www.instagram.com/bjesuiterphotography/"
        label="instagram: bjesuiterphotography (eher kunstvolle Fotos)"
        profile="private"
      />
      <SocialLink
        iconName="ph:instagram-logo"
        href="https://www.instagram.com/foodyprn.de/"
        label="instagram: foodyprn.de (mein FoodPorn Channel)"
        profile="private"
      />
      <SocialLink
        iconName="ph:instagram-logo"
        href="https://www.instagram.com/bjesuiter"
        label="instagram: bjesuiter (nur persönliche Freunde)"
        profile="private"
      />
    </p>
  </section>
</div>
