---
interface Props {
  // title: string;
  // body: string;
  // href: string;
}

// const { href, title, body } = Astro.props;
---

<div
  class="md:drop-shadow-glow relative aspect-[16/10] w-full min-w-[300px] overflow-hidden rounded-b-lg border-b-2 border-white bg-slate-800 p-4 text-slate-50 shadow-lg shadow-slate-200/50 md:mx-auto md:my-10 md:w-4/5 md:rounded-lg md:border-2"
>
  <h1 class="text-4xl font-normal">Benjamin Jesuiter</h1>

  <img
    src="/2024_profile_pic.jpg"
    class="absolute right-0 top-0 w-1/2 object-cover"
  />
</div>
