---
interface Props {
	// title: string;
	// body: string;
	// href: string;
}

// const { href, title, body } = Astro.props;
---

<div
	class="text-slate-50 p-4 min-w-[300px] w-full aspect-[16/10] bg-slate-800 rounded-b-lg shadow-lg shadow-slate-200/50 border-b-2 border-white sm:rounded-lg sm:w-4/5 sm:mx-auto sm:my-10 sm:border-2"
>
	<h1 class="text-4xl font-normal">Benjamin Jesuiter</h1>
	<img src="/2024_profile_pic.jpg" />
</div>
